.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.div-row{
  background-color: #464545;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 50px;
}

.div-col{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: white;
  border-radius: 4px;
}

.div-form{
  background-color: white;
  border-radius: 5px;
  border-color: rgb(201, 187, 63);
  border-width: thin;
  border-style: solid;
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.navigation{
  background-color: burlywood;
  height: 75px;
}

.navs{
  padding: 10px;
}

.footer{
  background-color: burlywood;
  height: 50px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  display: flex;
  flex-shrink: 0;
  position: relative;
  bottom: 0;
}

.profilepic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.bannerpic{
  padding: 10px;
  width:90%;
}

.pushbutton{
  width: 50%;
  padding: 10px;
}

.postimg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}